<!DOCTYPE html>
<html lang={{ lang }}>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">                
        <title>Hamper</title>              
        <script src="chart.js"></script>
    </head>
    <body style='background-color: #EEEEEE;'>
        <span style='color: #003366;'>                    
            <header id="header" class="navbar navbar-dark" vertical-align="middle">
                <div class="container-fluid">
                    <nav style="font-size: 30px; color: #003366">
                        <a class="nav-link" href="/">Hamper Controller</a>   
                        <button class="button" href="#" onclick="chart()">Графики</button>                                                        
                        <button class="button" href="#">Оператор</button>
                    </nav>    
                </div>    
                <span style="color:blue; font-size: 22px" class="navdata" id = "digital_watch">00:00:00</span>                                           
                <div>Server websoket status: <span id = "server"> - - - </span></div>   
                <div>Client modbus status: <span id = "modbus_status"> - - - </span></div>
            </header>       
            <div class="menu">
                <div>                                    
                    <span>Датчики температуры, °C:</span>
                    T1=<span style="color:#9090ff" id="t1"> - - - </span>
                    T2=<span style="color:#FF3232" id="t2"> - - - </span>
                    T3=<span style="color:#9090ff" id="t3"> - - - </span>
                    T4=<span style="color:#9090ff" id="t4"> - - - </span>
                    T5=<span style="color:#9090ff" id="t5"> - - - </span>
                </div>     
                <div>                    
                    <span>Датчик давления:</span>
                    P1=<span style="color:#6b0a49" id="p1"> - - - </span> mV
                    P2=<span style="color:#6b0a49" id="p2"> - - - </span> mV
                    P3=<span style="color:#6b0a49" id="p3"> - - - </span> kPa              
                    T6=<span style="color:#6b0a49" id="t6"> - - - </span> °C  
                </div>                              
            </div>
            <form> 
                <p>Ростер ON/OFF:</p>
                <div>
                    <input type='radio' id='ID_ON' name='operation_mode'> <label style='color:green' for='ID_ON'>ON</label>                    
                    <input type='radio' id='ID_OFF' name='operation_mode'> <label style='color:red' for='ID_OFF'>OFF</label> 
                    <span>Status GPIO:</span><span id="GPIO">- - -</span>
                    <span>Status:</span><span id="RB_READY">- - -</span>
                </div>
                <br>
                <div class="btn-group" role="group"> 
                    <style>
                        [role="switch"][aria-checked="false"] :first-child,
                        [role="switch"][aria-checked="true"] :last-child {background: #003366; color: #EEEEEE;}     
                        [role="switch"][aria-checked="false"] :last-child,
                        [role="switch"][aria-checked="true"] :first-child {color: #bbd;}                                  
                    </style>                                                                              
                    <span>Барабан</span>
                    <button type="button" role="switch" aria-checked="true"  class="switch" id="btnPower1">
                        <span>ON</span><span>OFF</span>
                    </button>
                    <!--<span>Загрузка</span>
                    <button type="button" role="switch" aria-checked="true"  class="switch" id="btnPower2">
                        <span>ON</span><span>OFF</span>
                    </button>-->
                    <span>Охлад. зерна</span>
                    <button  type="button" role="switch" aria-checked="true"  class="switch" id="btnPower3">
                        <span>ON</span><span>OFF</span>
                    </button>
                    <span>Мешалка</span>
                    <button  type="button" role="switch" aria-checked="true"  class="switch" id="btnPower4">
                        <span>ON</span><span>OFF</span>
                    </button>
                </div>
                Status: <span id="RELAY2"> - - - </span> 
                <!--Status: <span id="RELAY"> - - - </span> -->
                Status: <span id="RELAY0"> - - - </span> 
                Status: <span id="RELAY1"> - - - </span> 
            </form>                              
            <p>Мощность ТЭН №1 (закрытый):</p>                          
            <input type="range" id="ten_power1" min="0" max="100" step="1" value="0" class='slider'>Value, %: <span id="ten1out">- - -</span>
                Status: <span id="MOC2"> - - - </span> 
                Status power: <span id="power_MOC2"> - - - </span> 
            <br>
            <p>Мощность ТЭН №2 (открытый):</p>                            
            <input type="range" id="ten_power2" min="0" max="100" step="1" value="0" class='slider'>Value, %: <span id="ten2out">- - -</span>                                        
                Status: <span id="MOC3"> - - - </span>  
                Status power: <span id="power_MOC3"> - - - </span> 
            <br>
            <p>Воздушный поток (циклона):</p>                                        
            <input type="range" id="fan1" min="0" max="100" step="5" value="0" class='slider'>Value, %: <span id="fan1out">- - -</span>                      
                Status: <span id="MOC1"> - - - </span>    
                Status power: <span id="power_MOC1"> - - - </span> 
            <br>
            <p>Воздушный поток (охлаждения открытого ТЕНа №2):</p>                                                                                       
            <input type="range" id="fan2" min="0" max="100" step="5" value="0" class='slider'>Value, %: <span id="fan2out">- - -</span>        
                Status: <span id="MOC0"> - - - </span> 
                Status power: <span id="power_MOC0"> - - - </span> 
            <p>            
            <footer style='color: #EEEEEE ;background-color: #003366;'>
                <br>
                Hamper Coffee LLC © Copyright 2022            version: 0.0.1_ru 
                <br>
            </footer>
            <div>
                <canvas id="myChart"></canvas>
            </div>
        </span>               
        <script src="main.js"></script>   
    </body>    
</html>